
* {
  padding: 0;
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,*:after,*:before {
  box-sizing: inherit;
}
body {
  font-size: 62.5% !important;
  max-width: 800px;
  font-family: "microsoft yahei";
  margin: 0 auto;
  position: relative;
  padding-bottom: 40px;
}

.header img {
  display: block;
  width: 100%;
}

.middle {
  position: absolute;
  width: 100%;
  max-width: 750px
}

.middle img {
  display: block;
  margin: 0 auto;
}

.open {
  width: 50%;
  -moz-animation: change linear 1.5s infinite;
  -webkit-animation: change linear 1.5s infinite;
  -o-animation: change linear 1.5s infinite;
}

@keyframes change {
  0% {
    transform: scale(1,1);
  }

  50% {
    transform: scale(0.8,0.8);
  }
  100% {
    transform: scale(1,1);
  }
}

.fixed {
  position: fixed;
  right: 0;
  top: 10%;
}


.fixed img{
  animation: tada 2s linear infinite;
  -webkit-animation: tada 2s linear infinite;
  -moz-animation: tada 2s linear infinite;
  -o-animation: tada 2s linear infinite;
}

@keyframes tada {
  0% {
    transform: scale(1);
  }
  10%, 20% {
    transform: scale(0.9) rotate(-3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale(1.1) rotate(3deg);
  }
  40%, 60%, 80% {
    transform: scale(1.1) rotate(-3deg);
  }
}

.close {
  width: 35px;
  height: 35px;
  position: absolute;
  margin-left: 120px;
  z-index: 100;
}

.shelter_class {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0,0,0,0.1);
  top:0;
  left:0;
}

.dialog{
  display: none;
  position: fixed;
  z-index: 3;
  width: 300px;
  min-height: 300px;
  padding: 10px;
  top: 20%;
  left: 10%;
}

.bing-wx {
  position: absolute;
  z-index: 5;
  width: 300px;
}

.dialog_close {
  position: absolute;
  z-index: 6;
  right: 0;
  top: -10px;
  width: 40px;
  height: 40px;
}

.dialog_message {
  position: fixed;
  z-index: 15;
  width: 300px;
  top: 63%;
  border: 1px solid #ffe12e;
  border-radius: 6px;
  background: #c73133;
}

.dialog_message p,button {
  text-align: center;
  font-size: 1.75em;
  padding: 6px;
  color: #FFFFFF;
}
.wx_copy {
  cursor: pointer;
  color: #FFF71C;
  margin: 0 auto;
  display: flex;
  font-size: 2.5em;
  background-color: #c73133;
  padding: 12px 36px;
  border: 0 solid #c73133;
}

.wx_copy:hover {
  color: royalblue;
}

.wx_a {
  color: #FFF71C;
  cursor: pointer;
}

.wx_a:hover {
  color: royalblue;
}


.title {
  position: relative;
  width: 100%;
  font-size: 2em;
  margin: 36px auto;
  text-align: center;
  font-weight: bold;
}
.title img {
  width: 100%;
}
.title p {
  padding: 8px;
  position: absolute;
  top: 0;
  left: 20%;
}

.table-header {
  width: 92%;
  position: absolute;
  margin-left: -9px;
}
.table-header img{
  width: 100%;
}


.table-information {
  width: 90%;
  height: 380px;;
  margin: 0 auto;
  border-radius: 12px;
  box-shadow: 0 0 48px #cccccc;
}

table {
  margin-top: 60px;
  width: 90%;
  position: absolute;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}


table td {
  color: #696767;
  text-align: center;
  font-size: 1.5em;
  line-height: 63px;
  border-bottom: 1px solid #e8e8e8;
}

table td:nth-child(5n) {
  color: #ff0000;
  font-weight: bold;
}

.clear {
  clear: both;
}

.jump_two {
  text-align: center;
  padding: 40px 0;
  animation: egg_two .7s linear infinite alternate;
  -ms-animation: egg_two .6s linear infinite alternate;
  -moz-animation: egg_two .6s linear infinite alternate;
  -webkit-animation: egg_two .6s linear infinite alternate;
  -o-animation: egg_two .6s linear infinite alternate;
}
.jump_two img {
  width: 80%;
}

@keyframes  egg_two{
  0% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(.8, .8);
    transform: scale(.8, .8);
  }
}

.footer {
  margin: 0 auto 36px auto;
}
.footer p {
  font-size: 2em;
  text-align: center;
  line-height: 36px;
}

.footer2 {
  background-color: #fff;
  border-top: 1px solid #ccc;
  bottom: 0;
  padding-top: 6px;
  position: fixed;
  width: 100%;
}

.footer2 img{
  width: 70px;
  height: 70px;
  float: left;
  margin-top: -6px;
}
.footer2 .foot {
  font-size: 2em;
}
.footer2 button {
  font-size: 1.25em;
  text-shadow: none;
  border-radius: 6px;
  margin-left: 24px;
  color: black;
}

#article {
  color: red;
  background: #FFF71C;
}

.footer2 button:hover {
  background: #c73133;
  color: #FFFFFF;
}
